.bg-container {
  display: flex;
  min-height: 100vh;
}

.events-container {
  width: 60%;
  height: 100%;
  padding: 40px;
  overflow-y: auto;
  background-color: #3a4b63;
}

.events-heading {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 16px;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.event-registration-status {
  width: 40%;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}
